<html>
    <head>
        <title>Stratus</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <ul>
            <li><a href="{{URL_BASE}}">Home</a></li>
            <li><a href="{{URL_BASE}}/foo">Foo</a></li>
            <li><a href="{{URL_BASE}}/bar">Bar</a></li>
            <li><a href="{{URL_BASE}}/sitemap.xml">Sitemap Index</a></li>
            <li><a href="{{URL_BASE}}/sitemap-posts.xml">Sitemap</a></li>
            <li><a href="{{URL_BASE}}/robots.txt">robots.txt</a></li>
        </ul>
    </body>
</html>
